
header{
    background-color: #6fa8dc;

}

img#KafLogo{
    width: 100px;
}

nav{

}
nav a{
    color: white;
    font-size: 24px;


}

div.wrapper{
    width: 1000px;
    margin: auto;
}

h1{
    padding-left: 10px;
   margin: 5px;
}


div.BlofFotos{
    width: 17%;
    padding-right: 5px;
    float: left;

}
img#BlofBoven{
    width: 100%;
}
img#BlofOnder{
    width: 100%;

}
section.Artikkelen{

}

article.artikel{
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
iframe{
    float: right;
}

img#Martingarrixlink, img#Hardwelllink, img#Adellelink, img#NFlink{
    width: 200px;
    margin: 0px;
    height: 150px;
margin: 5px;
}
section.Linkfotos{
display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-self: center;


}



footer{
    background-color: grey;
    color: white;
    height: 100px;
    padding: 25px;
    clear: both;
}
footer a{
    color: white;
}


