*{
    /*border: dotted 1px grey;*/
}


nav{
    background: #4687ff;
    padding: 15px;
    margin: auto;

}
nav a{
    text-decoration: none;
    padding: 15px;
    color: white;
}
#wrapper {
    width: 1050px;
    margin: auto;
}
form{
    padding-left: 15px;
    width: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
}
input {

}

h3{

    float: top;
    padding-left: 687px;
}
p{
    float: right;
    float: top;
}
#maps{
    float: left;
}
footer{
    padding-left: 15px;
    background: #999999 ;
    color: white;
}
footer a{
    padding-left: 15px;
    text-decoration: none;
    color: white;
}
iframe{
    padding-left: 15px;
}
h1{
    padding-left: 15px;
}
