nav{
    background: #4687ff;
    padding: 15px;
    margin: auto;

}
nav a{
    text-decoration: none;
    padding: 15px;
    color: white;
}
#wrapper {
    width: 1050px;
    margin: auto;
}
form{
    display: grid;
    grid-template-columns: 25% 25% 50%;
}
label.naam{
    grid-column: 1/3;
}
input.naam{
    grid-column: 3/3;
}
