*{
    /*border: dotted 1px grey;*/
}


nav{
    background: #4687ff;
    padding: 15px;
    margin: auto;

}
nav a{
    text-decoration: none;
    padding: 15px;
    color: white;
}
#wrapper {
    width: 1050px;
    margin: auto;
}
form{
    width: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
}
input {

}

h3{float: right
}
p{
    float: right;
    float: top;
}
#maps{
    float: left;
}