header{
    background-color: #6fa8dc;
}

img#hanballogo{
    width: 200px;
}

nav a{
    color: white;
    font-size: 24px;
    padding-right: 10px;
}

section.teksten{
    clear: both;
}

article.tekst{
    display: inline-block;
    width: 23%;
    padding-right: 5px;
    vertical-align: top;
}

#wrapper{
    max-width: 1000px;
    margin: auto;
}

img#handbal{
    width: 48%;
    float: left;
}

img#srore{
    width: 48%;
    float: right;
}