#wrapper{
    max-width: 1000px;
    margin: auto;
}

header{
    max-width: 1000px;
    background-color: #010c0e;
    margin: auto;
    text-align: left;
}

ul{
    padding: 0px;
    margin: 0px;
}

li{
    background-color: #010c0e;
    padding: 10px;
    padding-left: 20px;
}

li a{
    color: white;
    text-decoration: none;
}

img#logo{
    max-width: 500px;
    margin: auto;
}

section.nieuws{
    width: 55%;
    float: left;
    padding-right: 5px;
}

article.nieuw{
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

img#logoalmere{
    width: 48%;
    padding: 10px;
}

img#fcalmerecitie{
    width: 60%;
    padding: 10px;
    margin: auto;
}

img#stegefoto{
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}

section.stage{
    width: 40%;
    float: right;
}

footer{
    height: 200px;
    background-color: gray;
    clear: both;
    max-width: 1000px;
    margin: auto;
}

footer a{
    padding: 25px;
    color: white;
}

footer a.copyright{
}

#groepfoto{
    max-width: 300px;
    margin: auto;
    float: right;
    padding-right: 5px;
}

@media all and (min-width: 555px) {
    #wrapper{
        max-width: 1000px;
        margin: auto;
    }
    section.nieuws{
        width: 68%;
        float: left;
    }
    section.stage{
        width: 30%;
        float: right;
    }
    ul{
        background-color: #010c0e;
    }
    li {
        display: inline-block;
        border-top: none;
    }
    article.nieuw{
        display: inline-block;
        width: 48%;
        vertical-align: top;
    }


}