header {
    background-color: #6fa8dc;

}

img#KafLogo {
    width: 100px;
}

nav {

}

nav a {
    color: white;
    font-size: 24px;


}

div.wrapper {
    width: 1000px;
    margin: auto;
}

section#ConcertenTitel {
    width: 985px;
    height: 50px;
    padding: 15px;

}

h1 {
    float: right;
    margin: 15px;
    margin-right: 45px;
}

div#KleineTekst {
    float: right;
    height: 20px;
    margin-bottom: 5px;
    padding-right: 25px;
}

section.tekst {
    float: right;
}

section.Fotorechts {
    float: right;
}

section.FotoLinks {
    float: left;
}

section.Fotos {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}


img#ConcertFoto {
    float: left;
    height: 400px;
    width: 50%;
    margin-left: 100px;

}

img#ConcertInfo {
    float: right;
    height: 375px;
    width: 25%;
    float: bottom;
    margin-right: 100px;
}

h1#EnMeer{
    font-weight: bold;
    margin: 0px;
    margin-top: 30px;

}


img#Martingarrixlink, img#Hardwelllink, img#Adellelink, img#NFlink {
    width: 150px;
    margin: 0px;
    height: 100px;

}

section.Linkfotos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    align-self: center;
    margin-bottom: 50px;


}

footer {
    background-color: grey;
    color: white;
    height: 100px;
    padding: 25px;
    clear: both;
}

footer a {
    color: white;
}


