header{
    background-color: #010c0e;
}

img#softballogo{
    width: 250px;
    padding-left: 5px;
    padding-top: 5px;
}

nav a{
    color: white;
    font-size: 24px;
    padding-right: 10px;
    text-decoration: none;
}

section.teksten{
    clear: both;
}

article.tekst{
    display: inline-block;
    width: 23%;
    padding-right: 5px;
    vertical-align: top;
}

#wrapper{
    max-width: 1000px;
    margin: auto;
}

img#softbal{
    width: 46%;
    float: left;
}

img#srore{
    width: 48%;
    float: right;
}

img#softbalpopetje{
    width: 22%;
    padding-top: 10px;
}

footer{
    background-color: gray;
    height: 200px;
    width: 1000px;
    margin: auto;
}

footer a{
    color: white;
    padding: 25px;
}
