header{
    background-color: #6fa8dc;
}

img#buitenboyslogo{
    width: 250px;
}

nav a{
    color: white;
    font-size: 24px;
    padding-right: 10px;
}

section.teksten{
    clear: both;
}

article.tekst{
    display: inline-block;
    width: 23%;
    padding-right: 5px;
    vertical-align: top;
}

#wrapper{
    max-width: 1000px;
    margin: auto;
}

img#voetbal{
    width: 48%;
    float: left;
}

img#srore{
    width: 48%;
    float: right;
}

img#voetbalbal{
    padding-top: 10px;
}

footer{
    background-color: gray;
    height: 200px;
    width: 1000px;
    margin: auto;
}

footer a{
    color: white;
    padding: 25px;
}

footer a.copyright{
}